<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}CRUD App{% endblock %}</title>
        <link rel="icon" type="image/svg+xml" href="{{ asset('assets/images/favicon.svg') }}">

        {{ encore_entry_link_tags('app', null, 'assets') }}
        {{ encore_entry_link_tags('css/custom', null, 'assets') }}

        {% block stylesheets %} {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            {% block navbar %} {% endblock %}
        </nav>
        <main class="container mt-5">
            {% block body %} {% endblock %}
        </main>

        {{ encore_entry_script_tags('app', null, 'assets') }}
        {{ encore_entry_script_tags('js/custom', null, 'assets') }}

        {% block javascripts %} {% endblock %}
    </body>
</html>
